{% extends 'master.html' %}

   {% block title %}{{ title }}{% endblock title %}

   {% block content %}
<div class="container-fluid">
<div class="row">


    <div class="section page-title">
        <span>اخبار</span>
        «
{#        <h1>خط 7 مترو</h1>»#}
    </div>
    <div class="section">
        <div>
            <article style="padding: 10px;">
    {% for news in list %}
<div class="news-snippet">
    <a href="http://tnews.ir/news/5822144092932.html" target="_blank">
            <figure>
<img data-src="{{ news.thumbnail }}" class="lazy-image lazy-loaded" src="{{ news.thumbnail }}" data-was-processed="true">
            </figure>
    </a>
    <div class="news-snippet-body full-width">
        <div>
            <a href="/news?id={{ news.id }}" target="_blank" class="news-box-source">
                {{ news.url }}</a>
            <span class="text-gray"> | </span>
            <time class="news-box-time" data-time="11/4/2019 3:26:48 PM" datetime="2019-11-04T03:26:48">
                {{ news.publish_date }}</time>
        </div>
    </div>
    <a href="/news?id={{ news.id }}" target="_blank">
        <h2> {{ news.title }} <span> </span></h2>
        <p>{{ news.summery }}</p>
        <div style="clear: both;"></div>
    </a>

</div>{% endfor %}



            </article>
        </div>
    </div>

<br/>
{#        <ul id="demo" class="pagination">#}
{##}
{#            {% for i in range %}#}
{#                {% if i == current %}#}
{#                <li class="active">#}
{#                    <a href="http://tnews.ir/tags/%D8%AE%D8%B7-7-%D9%85%D8%AA%D8%B1%D9%88">{{ i }}</a>#}
{#                </li>#}
{#                {% else %}#}
{#                    <li class="">#}
{#                    <a href="http://tnews.ir/tags/%D8%AE%D8%B7-7-%D9%85%D8%AA%D8%B1%D9%88/2">{{ i }}</a>#}
{#                </li>#}
{#                {% endif %}#}
{##}
{#            {% endfor %}#}
{##}
{#                <li>#}
{#                    <a href="http://tnews.ir/tags/%D8%AE%D8%B7-7-%D9%85%D8%AA%D8%B1%D9%88/2">#}
{#                        <span class="fa fa-angle-left"></span>#}
{#                    </a>#}
{#                </li>#}
{#                <li>#}
{#                    <a href="http://tnews.ir/tags/%D8%AE%D8%B7-7-%D9%85%D8%AA%D8%B1%D9%88/5">#}
{#                        <span class="fa fa-angle-double-left"></span>#}
{#                    </a>#}
{#                </li>#}
{#        </ul>#}
<div id="pagination-container" class="pagination"></div>
</div>

</div>

   {% endblock content %}
